// Colors

$primary-color: #00296B;
$secondary-color: #FDC500;
$azul-claro: #00509D;
$azul-oscuro: #003F88;
$amarillo-claro: #ffd500;
$blanco: #FFF;
$negro: #000;


// Typography
$font-primary: 'Ubuntu', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.mydropdownmenu {
    min-width:53px !important;
    background-color:black;
    border: none;
}

*{
    font-family: $font-primary;
}

.primary-color{
    background-color: $primary-color;
}
.primary-color i {
    font-size: 35px;
    color: $blanco;
}
.btn-secundary-color{
    background-color: $secondary-color;
}
.bgc-primario{
    background-color: $primary-color;
}
.bgc-secundario{
    background-color: $azul-claro;
}
.dropdown-item:hover{
    background-color: $secondary-color;
}
/* CARD HOME */

.card-home{
    display: flex;
    border-radius: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-right: 3px solid #ccc;
}
.card-home img{
    width: 300px;
}


// Botones

.box-botones{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.box-lang{
    position: fixed;
    top: 80px;
    right: -3px;
    display: flex;
    flex-direction: column;
}

.box-idiomas{
    display: none;
    background-color: #343a40;
    min-width: 53px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.box-lang:hover .box-idiomas{
    display: inline-block;
}

// Estilos generales

.main-content{
    min-height: 82vh;
}

.masthead {
    width: 100%;
    height: 100vh;
    background-image: url('https://branding.ifas.ufl.edu/media/brandingifasufledu/virtual-backgrounds/Ext_Spiral.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }



/* Media Queries Desktop*/

@media only screen and (min-width: 1024px){

    .card-home{
            width: 684px;
            height: 202px;
    }

}