// Colors

$primary-color: #42CAFD;
$secondaruy-color: #464D77;
$blanco: #FFF;
$negro: #000;


// Typography
$font-primary: 'Ubuntu', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.mydropdownmenu {
    min-width:53px !important;
    background-color:black;
    border: none;
}

*{
    font-family: $font-primary;
}

.primary-color{
    background-color: $primary-color;
}
.primary-color i {
    font-size: 35px;
    color: $blanco;
}
.btn-secundary-color{
    background-color: $secondaruy-color;
}
